@media only screen and (max-width: 451px){
  .main__stacks{
    max-height: -webkit-fill-available;
    width: 100%;
  }
  
  .stacks {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: rgb(50, 147, 199);
    text-shadow: 10px 10px 200px white;
  }
  
  .stacks__title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
  }
  
  .stacks__title h4{
    font-size: 20px;
  }
  
  .div__card__stack{
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 20px;
    flex-direction: column;
    width: 30%;
    height: 100px;
    border: 1px solid white;
    margin: 20px;
    border-radius: 20px;
  }
  }

@media only screen and (min-width: 452px) and (max-width: 2600px){
.main__stacks{
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.stacks {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: rgb(50, 147, 199);
  text-shadow: 10px 10px 200px white;
}

.stacks__title{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 80px;
}

.stacks__title h4{
  font-size: 60px;
}

.div__card__stack{
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 2vw;
  flex-direction: column;
  width: 20%;
  height: 40vh;
  border: 1px solid white;
  margin: 5px;
  border-radius: 20px;
}
}

@media only screen and (min-width: 2600px){

  .stacks {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: rgb(50, 147, 199);
    text-shadow: 10px 10px 200px white;
  }
  
  .stacks__title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 80px;
  }
  
  .stacks__title h4{
    font-size: 60px;
  }
  
  .div__card__stack{
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 70px;
    flex-direction: column;
    width: 500px;
    height: 500px;
    border: 1px solid white;
    margin: 20px;
    border-radius: 20px;
  }
  }
