.div__content{
    display: flex;
    background-color: aliceblue;
    flex-direction: column;
}

.div__content h1 {
    text-align: center;
    margin: 10px;
}

.div__content h4 {
    text-align: center;
    margin: 10px;
    margin-bottom: 20px;
}

.social__icon{
    width: 25px;
    height: 25px;
}